/* CSS declarations go here */
body {
  margin: 0;
  background-color: #f7f7f7;
}
.dash-menu-item button svg {
	color: #ffffff !important;
}

* { box-sizing:border-box; }

.group { 
	position: relative; 
	margin-bottom: 45px; 
}

.error-msg {
	margin: .5em 0;
  display: block;
  color: #dd4b39;
  line-height: 17px;
  font-size: 14px;
}

.inner {
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: auto;
  color: #000;
}

.ecommerce-cms-wrapper {
  width: 100%;
  overflow: hidden;
}

.ecommerce-cms-main-content {
  margin: 0 auto;
}

.ecommerce-cms-landing-page .ecommerce-cms-article {
  margin: 0;
  max-width: none;
  width: 100%;
  position: relative;
}

.ecommerce-cms-article-inner {
  min-height: calc(100vh - 562px);
  float: left;
  width: 100%;
}

.ecommerce-cms-landing-row.ecommerce-cms-background {
  margin: 0 -10000px;
  padding: 40px 10000px;
}

.ecommerce-cms-background-grey {
  background-color: #f7f7f7;
}