/* CSS declarations go here */
body {
  margin: 0;
  background-color: #f7f7f7;
}
.dash-menu-item button svg {
	color: #ffffff !important;
}

* { box-sizing:border-box; }

.group { 
	position: relative; 
	margin-bottom: 45px; 
}

.error-msg {
	margin: .5em 0;
  display: block;
  color: #dd4b39;
  line-height: 17px;
  font-size: 14px;
}

.inner {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    color: #000;
}