.cart-item {
	min-height: 100px;
  padding: 10px 0;
  margin: 0;
  clear: both;
}

.cart-item .media-left {
   vertical-align: middle;
}

.cart-item-img {
	min-width: 145px;
	float: left;
}

.cart-item-title {
	float: left;
  font-size: 20px;
  width: calc(100% - 500px);
}

._3cto0P ._3RkJty {
  width: 120px;
  text-align: center;
  display: inline-block;
}

._3md1dr {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #212121;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

._3md1dr .wNrY5O {
  width: 28px;
  height: 28px;
  background: linear-gradient(#fff, #f9f9f9);
  display: inline-block;
  border: 1px solid #c2c2c2;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50%;
  padding-top: 1px;
  line-height: 1;
}

._3md1dr ._2zH4zg {
  display: inline-block;
  padding: 3px 6px;
  width: calc(100% - 60px);
  height: 100%;
  width: 46px;
  height: 28px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #c2c2c2;
  margin: 0 9px;
}

._3md1dr ._2zH4zg input:focus {
  outline-width: 0;
}

._3cto0P ._2rsOsD {
  display: inline-block;
  padding-left: 24px;
  vertical-align: center;
}

._3cto0P ._2xVwyr {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 25px;
}